


body{
    background-color: aquamarine;
}
.titolo{
    text-align: center;
    margin: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
.info{
    text-align: center;
    margin-top: 20px;

}
.info li{
    display: inline-block;
    margin: 15px;
}
